<!DOCTYPE html>
  <html>
    <head>
        <title>Global World Norwich Yoga Studio (GWNYS): Classes</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <section>
                <article class = "services">
                    <figure>
                        <img src="assets/yoga1.jpeg" alt="yoga exercise">
                        <figcaption>
                            <h3>Gentle Hatha Yoga</h3>
                            <p>
                        GWNYS offers Gentle Hatha yoga, a gentle and meditative style of yoga which focuses on
breathing, stretching, and body control. It is ideal for beginners, and particularly
those who want to relax and disconnect from everyday stress.
                            </p>
                        </figcaption>
                    </figure>
                </article>
                <article class="services">
                    <figure>
                        <img src="assets/yoga2.jpeg" alt="yoga exercise">
                        <figcaption>
                            <h3>Vinyasa Yoga with GWNYS</h3>
                            <p>
                                GWNYS offers Vinyasa Yoga, a fast-paced, fitness-based approach.
                            </p>
                        </figcaption>
                    </figure>
                </article>
                <article class="services">
                    <figure>
                        <img src="assets/yoga3.jpeg" alt="yoga exercise">
                        <figcaption>
                            <h3>Restorative Yoga with GWNYS</h3>
                            <p>
                                GWNYS offers Restorative Yoga, a relaxing style of yoga that relives stress and heals.
                            </p>
                        </figcaption>
                    </figure>
                </article>
                <article class="services">
                    <figure>
                        <img src="assets/yoga4.jpeg" alt="yoga exercise">
                        <figcaption>
                            <h3>Iyengar Yoga with GWNYS</h3>
                            <p>
                                GWNYS offers Iyengar Yoga, a precise type of yoga that focuses on balance and
        alignment. It strengthens ligaments and muscles.
                            </p>
                        </figcaption>
                    </figure>
                </article>
                <p>
                    <button>
                        Find out more
                    </button>
                </p>
            </section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>