<!DOCTYPE html>
  <html>
    <head>
        <title>Global World Norwich Yoga Studio (GWNYS): Contact</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <section>
                <div class="container">
                    <h2>Contact Global World Norwich Yoga Studio</h2>
                        <section>
                            <form method="post" action="/contact" id="myForm">
                                <fieldset>
                                    <legend>Contact Form</legend>
                                    <label for="name">Name:*</label>
                                        <input type="text" id="name" name="name" placeholder="Your name.." required>
                                    <label for="email">Email:*</label>
                                        <input type="text" id="email" name="email" placeholder="Your email.." required>
                                    <label for="subject">Subject:*</label>
                                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px" required></textarea>
                                    
                                        <input type="submit" value="Send Message" id="submit">
                                    <p id="confirmMessage">* Required Field</p>
                                </fieldset>
                            </form>
                        </section>
                </div> 
            </section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>